body {
  font-family: sans-serif;
  border: 5px solid #000;
}

h2.entry {
  background-color: #f7f7f7;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}

p.price {
  font-weight: bold;
  font-size: 24px;
}

p.ship-conds {
  text-transform: uppercase;
  color: gray;
  font-weight: bold;
  font-size: 12px;
}

a.more-info:link {
  color: #222;
}

a.more-info:hover {
  text-decoration: none;
}

h3.details {
  text-transform: uppercase;
  font-size: 15px;
}

ul.details {
  list-style: square;
}

/* Add to cart button */
button.a2c {
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

button.a2c:hover {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}
